__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
.env
pytest_cache/
.cache/
.DS_Store
Thumbs.db
labels/
outputs/
data/
filtered_data/
logs/
thermal_labels/
processed_images/
combined/
processed_images/
ragirtulenv/
yolo_split/
.idea/
runs/
*.pt
yolo_split/
use_case/
test_cases/
*.mp4
